# Package Files #


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
_site
.DS_Store
docs/_site

solace-samples-solution/bin/
solace-samples-solution/obj/
lib/*.*
lib/*