<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true" />
    <!-- Uncomment the following element if you want to use a different assembly binding -->
    <!-- newVersion should point to the target assembly version you're trying to bind to -->
    <!--
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SolaceSystems.Solclient.Messaging"
                          publicKeyToken="e191a36e57c23464"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0"
                         newVersion="1.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>    
    -->
  </runtime>
</configuration>